* {
    box-sizing: border-box;
}

body{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-wrap: wrap;
    color: rgba(0, 0, 0, 0.705);
    justify-content: center;
    align-items: center;
}

header {
    display: flex;
    position: fixed;
    justify-content: space-around;
    right: 0px;
    left: 0px;
    top: 0px;
    box-shadow: 0px 0px 10px black;
    background-color: rgba(255, 255, 255, 0.719);
    z-index: 2;
}

.container {
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    flex-grow: 1;
    flex-shrink: 1;
}

a {
    text-decoration: none;
    color: rgba(0, 0, 0, 0.747);
}

@media screen and (max-width: 500px) {
    
.container {
    height: 70px;
    font-size: 20px;
}
}

@media screen and (max-width: 330px) {
    
.container {
    height: 50px;
    font-size: 16px;
}
}
