main{
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    height: 80vh;
}

.welcome {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    z-index: 1;
}
.container {
    height: 100px;
    width: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 45px;
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.356);
}
.container:hover {
    background-color: rgba(183, 224, 250, 0.281);
}

a {
    text-decoration: none;
    color: rgba(0, 0, 0, 0.747);
}


h3 {
    margin: 5px;
    font-weight: 100;
}

@media screen and (max-width: 500px) {
    

.container {
    height: 70px;
    width: 300px;
    font-size: 30px;
}
}

@media screen and (max-width: 330px) {

.container {
    height: 70px;
    width: 250px;
    font-size: 25px;
}
}
    